*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-family: Arial, sans-serif;
  --background-color: #f5f5f5;
  --color: #333;
  --shade-color: #ababab;
  --button-background : #000012;
  --delete-background :#df0303
}
body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  width: 100%;
}
h1 {
  color: var(--color);
  text-align: center;
  margin: 20px 0;
  text-decoration: underline;
}
#container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap:15px;
  margin: 10px auto;
}
#delete-button{
  background:#e8e7e7;
  width:60%;
}
#delete-button:hover{
  background: var(--delete-background);
  color:var(--background-color);
}
form {
  width: 50%;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid var(--shade-color);
}
label,
input,
button {
  display: block;
  margin: 10px 0;
}
label {
  font-size: 16px;
  font-weight: bold;
}
input,
textarea {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  background: transparent;
  border: 1px solid var(--shade-color);
  border-radius: 5px;
}
button {
  padding: 10px;
  width: 35%;
  border-radius: 5px;
  border: 1px solid var(--shade-color);
  color:var(--button-background);
  font-weight: bold;
  background:transparent;
  transition: background 0.5s ease-in;
}
.button-container{
  display: flex;
  justify-content: space-evenly;
  padding-top:10px;
  
}
#save-btn{
  background: var(--button-background);
  color: #b4b4b4;
  display:none;
}
#save-btn:hover{
  background: transparent;
  color:var(--button-background)
  
}
#reset-btn{
  position:absolute;
  bottom: 5px;
  display:none;
}
button:hover {
  background: var(--button-background);
  color: #b4b4b4;
  font-weight: 700;
}
textarea {
  resize: none;
}
.task-list {
  width: 50%;
  padding: 10px 20px;
  position:relative;
}

tr.checked {
  text-decoration: line-through;
  text-decoration-color: var(--button-background);
  color: #808080;
}
table {
  width: 100%;
  table-layout: fixed;
  margin:10px 0;
  border-bottom: 1px solid var(--shade-color);
  border-collapse:collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border:none
}
tr{
    border-bottom: 1px solid var(--shade-color)
}
span{
    font-size: 20px;
    margin:10px auto;
    font-weight: bold;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:10px;
}
span button{
  width:40%;
  padding:5px 10px;
}